html {
    font-size: 10px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-size: 1rem;
    font-family: $primary-font-bold;
    position: relative;
}

a{
    text-decoration: none;
}

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 136.6rem) {
    html {
        font-size: 7.3px;
    }
}