.wrapper{
    position: relative;
    top: 0;
    height: 100vh;

    .test{
        width: calc(100% - 32rem);
        left: 32rem;
        position: relative;
        top: 13rem;
        padding: 2rem;
    }
}