.wrapper{
    position: relative;
    top: 0;
    height: 100vh;

    .test{
        width: calc(100% - 320px);
        left: 320px;
        position: relative;
        top: 130px;
        padding: 20px;
    }
}