@import '../../assets/scss/helpers/variables';

.sidebar{   
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 32rem;
    left: 0;
    z-index: 1030;
    border-right: 1px solid #DEDFE2;

    .logo-container{
        text-align: center;
        padding: 2.4rem 3rem;
        .logo-img{
            width: 20rem;
            margin-bottom: 0.7rem;
        }
        .logo-contain{
            font-size: 1.3rem;
            color: #A4A4A4;
        }
    }

    &__list{
       margin: 0;
       padding: 0;
       list-style: none;
       margin-top: 5.6rem;
        &--item{
            margin: 1.2rem 0;
            &-link{
              display: block;
              font-size: 1.7rem;
              line-height: 2.1;
              padding: 1.5rem 3.2rem;
              background-color: transparent;
              color: $dark-color;
              border-radius: 999em;
              &.active{
                color: $white-color;
                background-color: $primary;
              }
              &:hover{
                color: $white-color;
                background-color: $primary;
              }
            }
        }
    }
}