<aside class="sidebar">
   <div class="logo-container">
    <a href="" class="logo d-flex flex-column align-items-center">
        <img src="assets/images/svg-icon/logo.svg" alt="logo" class="logo-img">
        <span class="logo-contain">Real Estate Digital Assets</span>
    </a>
    <ul class="sidebar__list">
        <li class="sidebar__list--item" *ngFor="let item of sidebarList; let i=index">
            <a class="sidebar__list--item-link" [ngClass]="activeTabs===i ? 'active': ''">{{item}}</a>
        </li>
    </ul>
   </div>
</aside>
