<div class="card bg-danger">
    <div class="card-header">
      <h2 class="card-title">Heye</h2>
      <p class="card-subtitle">heyii</p>
    </div>
    <div class="card-body">
      <table class="w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Chanee</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                   <div class="company-details">
                    <div class="img-container">
                      <img src="assets/images/svg-icon/WCA2gw.svg" alt="" class="img-fluid">
                    </div>
                    <div class="company-headings">
                      <h5 class="company-headings-title">SmartCrowd</h5>
                      <h5 class="company-headings-subtitle">SMRTCRWD</h5>
                    </div>
                   </div> 
                </td>
                <td>$23</td>
                <td>12.23</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>